a.btn{
	text-decoration: none;
}

header{
	background: #9dd745 url(/assets/images/stripes.png) fixed;
	overflow: auto;
	img{
		margin: 5px 0px 5px 40px;
		width: 150px;
		height: 50px;
		float: left;
	}

	#nav-group{
		width: 150px;
		top: 20px;
		margin: 20px auto;
	}
	#quick-slide-select{
		width: 150;
		font-size: 19px;
		right: 30px;
		top: 20px;
		position: absolute;
	}
}
.slide{
	margin: 10px 10px 0 10px;
	background: url(/assets/images/seamlesspaper.jpg) fixed;
	border: 1px solid black;
	.header{
		width: 100%;
		border-bottom: 2px dotted black;
		p.title{
			font-size: 48px;
			text-align: center;
			width: 100%;
			margin-bottom: 10px !important;
			margin-top: 10px !important;
		}
	}
	.body{
		
	}
}
#functional-vs-oo{
	.body {
		margin:5px auto;
		overflow: auto;
		width: none;
		.code{
			float: left;
			width: 49%;
			padding:5px;
		}
		.code-bottom{
			clear:both;
			margin: 0 5px 0 5px;
		}
	}
}
#async-vs-blocking{
	.body{
		overflow: auto;
		.img-group{
			margin: 5px auto;
			width: 725px;
			overflow: auto;
			img{
				margin: 5px;
				float: left;
			}
		}
	}
}
#scala{
	.body ul{
		li{
			font-size:24px;
		}
		.scala-code{
			margin-right: 10px;
		}
		p{
			font-size: 20px;
			margin-left: 25px;
		}
	}
}

#play-highlights{
	.body{
		img{
			margin-top: 15px;
		}
		a{
			float:right;
			padding-right: 25px;
		}
	}
}

#routes, #controllers, #actors-example{
	.body{
		.code-group{
			margin: 0px 10px 0px 10px;
			p{
				font-size: 24px;
				width: 100%;
				text-align: center;
				margin-bottom: 5px !important;
			}
		}
	}
}

#actors{
	.body{
		width: 90%;
		margin: 0px auto;
		p{
			font-size: 24px;
			color: #1050df;
		}
		ul{
			li{
				font-size: 19px;
			}
		}
		p.message{
			font-size: 34px;
			color: black;
			border: 2px solid black;
			padding: 10px;
			text-align: center;
		}
	}
}

#scaling, #scaling-future {
	.body{
		img{
			margin-top: 15px;
		}
	}
}

#contact{
	.contact-group{
		width: 600px;
		margin: 30px auto;
		p{
			font-size: 45px;
		}
		ul{
			list-style: none;
			li{
				font-size: 24px;
			}	
		} 
		
	}
}