@(accounts:Seq[Account])

@main("Dashbaord"){
	<div id="right-column">
		<div id="account-list">
			<div class="list-heading">
				<p class="list-col number">Account Number</p>
				<p class="list-col balance">Balance</p>
				<p class="list-col email">Email</p>
				<p class="list-col report">Report</p>
			</div>
			@accounts.map { account =>
				<div class="list-row account" id="@account.id">
					<p class="list-col number">@account.id</p>
					<p class="list-col balance">@account.balance</p>
					<p class="list-col email">@account.email</p>
					<p class="list-col report"><a href="@{routes.Transaction.generateReport(account.id)}" class="btn">Generate Report</a>
				</div>
			}
		</div>
		<div id="action-group">
			<btn id="postThread" class="btn btn-primary">POST</btn>
			<btn id="postNonThread" class="btn btn-primary">POST Non-Threaded</btn>
		</div>
	</div>

	<div id="transaction-list">
		<p class="heading">Recent Transactions:</p>
		<div id="transaction-window">
			<ul id="transactions"></ul>
		</div>
		
	</div>
	<div id="transaction-stats">
		<p class="heading">Transaction Stats:</p>
		<p class="section">Total Transactions: <span id="totalTransactions">0</span></p>
	</div>
	<iframe id="comet" src="@routes.Transaction.dashboardStream.unique"></iframe>

	<script>

	window.dashboard.init();

	</script>
}